img{
    width: 100%;
    height: auto;
}
body{
    font-size: 14px;
    position: relative;
}
a{
    &:hover{
        text-decoration: none;
        color: $color_hover;
    }
}
.related-post{
    margin-bottom: 60px;
}
ul{
    list-style: none;
    li{
        &:last-child{
            border-bottom: none !important;
        }
    }
}
.title-link{
    color: $green;
    &:hover{
        text-decoration: none;
        color: $color_hover;
    }
}
.page-title{
    color: $green;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 60px;
}
.breadcrumbs{
   padding: 30px 0;
   a{
        color: #000;
        &:hover{
            color: $color_hover;
        }
    }
    .breadcrumbs-content{
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
        border-bottom-style: dashed;
    }
}

.pagination {
    display: inline-block;
    margin-bottom: 30px;
    a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid #ddd;
        &:hover:not(.active) {
            background-color: #ddd;
        }
    }
    .active{
        background-color: #4CAF50;
        color: white;
        border: 1px solid #4CAF50;
    }
}
.scroll-top{
    display: none;
    position: fixed;
    bottom: 70px;
    background: #006a15;
    right: 70px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 50%;
    padding: 5px 10px;
    &:hover{
        opacity: 0.8;
    }
}